@model IEnumerable<AgendamentoPacientes.Models.Clinica>

@{
    ViewData["Title"] = "Clínicas";
}

<h1>Clínicas</h1>

<p>
    <a asp-action="Create">
        <button class="btn btn-success">Adicionar Clínica</button>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Clínica
            </th>
            <th>
                CNPJ
            </th>
            <th>
                Telefone
            </th>
            <th>
                Endereço
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => (item.Cep + " - " + item.Logradouro + " - " + item.Complemento))
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>